// Colors
$nav-backg: #1b1b1b;
$toggle-backg: #000000f3;
$l-gray-color: #85858574;
$gr-white: #cecece;
$red-color:  #f85051;
$l-backg: #330d0d98;
// Gradient Colors
$gradient1: linear-gradient(180deg, #2c2c2c 0%, #101010 100%);
$grad2-b: radial-gradient(100% 225% at 100% 0%, #411f1f 0%, #242424a4 100%), linear-gradient(236deg, #2b2c2c 0%, #333333 100%), linear-gradient(135deg, #272727 0%, #049797 36%, #2c2c2c 36%, #3c3c3c 60%, #291010 60%, #07456F 67%, #2b2b2b 67%, #a2a2a2 100%);
$grad2-bm: overlay, hard-light, normal;
$bg-color: radial-gradient(100% 225% at 100% 0%, #411f1f 0%, #242424a4 100%), linear-gradient(236deg, #2b2c2c 0%, #333333 100%), linear-gradient(135deg, #272727 0%, #049797 36%, #2c2c2c 36%, #3c3c3c 60%, #291010 60%, #07456F 67%, #2b2b2b 67%, #a2a2a2 100%);

// Font
$font-stack: 'Nunito Sans', sans-serif;

// Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
*, *:focus, *:hover {
    outline: none;
}
body {
    font-family: $font-stack;
}
//--------------------
// Mixins - For Other Browsers
@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -khtml-transition: $params;
    -o-transition: $params;
    transition: $params;
}
@mixin scale($params) {
    -webkit-transform: scale($params);
    -moz-transform: scale($params);
    -khtml-transform: scale($params);
    -o-transform: scale($params);
    transform: scale($params);
}
@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    -khtml-box-shadow: $params;
    -o-box-shadow: $params;
    box-shadow: $params;
}
@mixin rotate($params) {
    -webkit-transform: rotate($params);
    -moz-transform: rotate($params);
    -khtml-transform: rotate($params);
    -o-transform: rotate($params);
    transform: rotate($params);
}
@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    -o-opacity: $opacity;
    opacity: $opacity;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}