@import 'config';
@import 'navbar';
//-------------------------
//--------------------
main, body {
    background: $main-b;
    background-blend-mode: $back-bmode;
}
.container {
    color: $main-c;
    padding: 52px 50px;
    div {
        margin: 10px;
    }
}
footer {
    padding: 10px 50px;
    color: $main-c;
    background: $foot-b;
    background-blend-mode: $back-bmode;
}